#introduccion
{ text-align: center;
    background: burlywood;
    /* height: 100%; */
    width: 100%;
    height: 100%;
    position: absolute;
    top: 5%;
    left: 0%;
    }
#cuadro_izq
{   background: gainsboro;
    width: 100%;
    position: absolute;
    top: 25%;
    left: 0%;
    text-align: left;
    }

    #cuadro_der
    {   background: black;
        margin-right: 0px;            
        position: absolute;
        top: 28%;
        right: 6%;              
 ;}
 #cuadro_datos
 {    
    text-align: center;
    background: black;
    height: 110%;
    width: 29%;
    position: absolute;
    top: 83%;
    right: 3%;             
;}
.texto_datos{
    font-size:large;
    color: white; 
}

