
/* Forma introduccion pagina cv */
#introduccion_cv
{ text-align: center;
background: burlywood;
width: 100%;

}
/* Forma introduccion pagina contacto */
    #introduccion_contacto
{ text-align: center;
    background: rgb(211, 223, 231);
     height: 100%;
    width: 100%;
   
    }
/* Forma introduccion pagina aficiones */
    #introduccion_aficiones
    { text-align: center;
        background: rgb(135, 219, 222);
        width: 100%;
        }


     /* Forma del cuadro de la izquierda pagina cv  */
#cuadro_izq
{  
    background: gainsboro;
    width: 100%;
    height:max-content;
    text-align: left;
    }
   
    #tabulado_cuadro_izq{
margin-left: 40px;
    }
 /* Forma del cuadro de la foto en la pagina del CV */
    #cuadro_foto
{   background: black;
   
               
 }
 /* Forma de la imagen de la playa  */
 #cuadro_playa
{     background: rgb(135, 219, 222);
    text-align: center;
    width: 100%;             
 }

  /* Forma del formulario de contacto */
 #cuadro_contacto
 {  background: rgb(211, 223, 231);
    text-align: center;
    width: 100%;
     }
 


  /* Forma del cuadro de datos en la pagina del CV */
 #cuadro_datos
 {    
    text-align: center;
    background: black;
   width: 29%;
              
;}
.texto_datos{
    font-size:large;
    color: white; 
}

 /* Forma de las imagenes de html, css y js  */
 #graficos_html{
   
 
 }
.graficos_html_1{  
position: relative;  
left: 0%;

}

.graficos_html_2{    
    
position: relative; 
left: 5%;
}

.graficos_html_3{  
   
position: relative;
left: 10%;   
}


.graficos_html_4{   
    left: 5%;  
}

.graficos_html_5{   
    left: 5%;   
}

.graficos_html_6{    
    left: 5%;   
}

.graficos_html_7{  
   
}

.graficos_html_8{ 
  
}

.graficos_html_9{
   
}



 /* Forma del botones links a otras paginas */
 .pag_cv{
    background: white;
    border-color: black;
    border-width: 2px 2px 2px;
    border-style: solid solid solid;
    border-spacing: 5px;
    margin-right: 0px;            
    }

    .pag_aficiones{
    background: white;
    border-color: black;
    border-width: 2px 2px 2px;
    border-style: solid solid solid;
    border-spacing: 5px;
    margin-right: 0px;            
   }

    .pag_contacto{
    background: white;
    border-color: black;
    border-width: 2px 2px 2px;
    border-style: solid solid solid;
    border-spacing: 5px;
    margin-right: 0px;            
   }

#contenedor {
    display: flex;
}
#contenedor_2 {
    display: flex;
 
}


#cuadro_datos {
    width: 30%;
}


/* TABLET*/
@media (max-width: 1024px) {

}
/* MOVIL */
    @media (max-width: 540px) {

        #contenedor {
            display: block;
        }
        #contenedor_2 {
            display: block;
        }
        #cuadro_izq, #cuadro_datos {
            width: 100%
        }
    }